html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 13px auto;
}

.double-bounce1 {
  background-color: #ffcc00;
}

.double-bounce2 {
  background-color: #ff3333;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.loading #placeholder {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

#placeholder {
  display: none;
}
